<f:comment><!--column 401--></f:comment>
<f:if condition="{data.flexform_columnType_401}">
    <div class="col col--{data.flexform_columnType_401} {data.flexform_class_401}">
        <f:comment><!--row element for the elements inside the column--></f:comment>
        <div class="row {data.flexform_rowDirection_401} {data.flexform_rowWrap_401}">
            <f:for each="{data.tx_gridelements_view_raw_columns.401}" as="child">
                <f:render partial="child"  arguments="{_all}" />
            </f:for>
        </div>
    </div>
</f:if>

<f:comment><!--column 402--></f:comment>
<f:if condition="{data.flexform_columnType_402}">
    <div class="col col--{data.flexform_columnType_402} {data.flexform_class_402}">
        <f:comment><!--row element for the elements inside the column--></f:comment>
        <div class="row {data.flexform_rowDirection_402} {data.flexform_rowWrap_402}">
            <f:for each="{data.tx_gridelements_view_raw_columns.402}" as="child">
                <f:render partial="child" arguments="{_all}" />
            </f:for>
        </div>
    </div>
</f:if>

<f:comment><!--column 403--></f:comment>
<f:if condition="{data.flexform_columnType_403}">
    <div class="col col--{data.flexform_columnType_403} {data.flexform_class_403}">
        <f:comment><!--row element for the elements inside the column--></f:comment>
        <div class="row {data.flexform_rowDirection_403} {data.flexform_rowWrap_403}">
            <f:for each="{data.tx_gridelements_view_raw_columns.403}" as="child">
                <f:render partial="child" arguments="{_all}" />
            </f:for>
        </div>
    </div>
</f:if>
