{namespace dsg = FalkRoeder\Dsgsitepackage\ViewHelpers}
<f:spaceless>
         <f:if condition="{settings.logo.file}">
            <f:then>
               <f:link.page pageUid="{rootPage}" title="{settings.logo.linktitle}">
                  <img src="{f:uri.image(src: settings.logo.file)}" alt="{logoAlt}" height="{settings.logo.height}" width="{settings.logo.width}">
               </f:link.page>
            </f:then>
            <f:else>
               <f:link.page pageUid="{rootPage}">{siteTitle}</f:link.page>
            </f:else>
         </f:if>
         <div class="slogan">
            <h1>{siteTitle}</h1>
            <p><strong><f:cObject typoscriptObjectPath="lib.slogan"/></strong></p>
         </div>
</f:spaceless>











