{namespace dsg = FalkRoeder\Dsgsitepackage\ViewHelpers}
<f:spaceless>

        <nav class="dsg-MainNav">
            <ul class="dsg-MainNav-menu">
                <f:for each="{mainnavigation}" as="mainnavigationItem">
                    <li class="dsg-MainNav-item{f:if(condition: mainnavigationItem.active, then:' dsg-MainNav-item--active')}{f:if(condition: mainnavigationItem.children, then:' dsg-MainNav-item--hasChildren')}">
                        <f:link.page pageUid="{mainnavigationItem.data.uid}" title="{mainnavigationItem.title}">
                            {mainnavigationItem.title}
                            <f:if condition="{mainnavigationItem.children}">
                                <i class="fa fa-angle-down"></i>
                            </f:if>
                        </f:link.page>
                        <f:if condition="{mainnavigationItem.children}">
                            <ul class="dsg-MainNav-submenu">
                                <f:for each="{mainnavigationItem.children}" as="child">
                                    <li class="dsg-MainNav-item{f:if(condition: child.active, then:' dsg-MainNav-item--active')}{f:if(condition: child.children, then:' dsg-MainNav-item--hasChildren')}">
                                        <f:link.page pageUid="{child.data.uid}" title="{child.title}">
                                            {child.title}
                                            <f:if condition="{child.children}">
                                                <i class="fa fa-angle-down"></i>
                                            </f:if>
                                        </f:link.page>
                                        <f:if condition="{child.children}">
                                            <ul class="dsg-MainNav-submenu">
                                                <f:for each="{child.children}" as="childchild">
                                                    <li class="dsg-MainNav-item{f:if(condition: childchild.active, then:' dsg-MainNav-item--active')}{f:if(condition: childchild.children, then:' dsg-MainNav-item--hasChildren')}">
                                                        <f:link.page pageUid="{childchild.data.uid}" title="{childchild.title}">
                                                            {childchild.title}
                                                        </f:link.page>
                                                    </li>
                                                </f:for>
                                            </ul>
                                        </f:if>
                                    </li>






                                </f:for>
                            </ul>
                        </f:if>
                    </li>


                </f:for>
                <f:if condition="{languagenavigation}">
                    <f:for each="{languagenavigation}" as="item">
                        <f:if condition="{item.active}">
                            <li class="dsg-MainNav-item dsg-MainNav-item--hasChildren {f:if(condition: item.active, then: 'dsg-MainNav-item--active')} {f:if(condition: item.available, else: 'text-muted')}">
                                <f:switch expression="{item.languageUid}">
                                    <f:case value="1">
                                        <dsg:var name="languageTitle" value="English" />
                                        <dsg:var name="hreflang" value="en-US" />
                                    </f:case>
                                    <f:case default="TRUE">
                                        <dsg:var name="languageTitle" value="Deutsch" />
                                        <dsg:var name="hreflang" value="de-DE" />
                                    </f:case>
                                </f:switch>
                                <f:if condition="{item.available}">
                                    <f:then>
                                        <f:link.page pageUid="{item.data.uid}" additionalAttributes="{hreflang: hreflang}" addQueryString="1" addQueryStringMethod="GET" argumentsToBeExcludedFromQueryString="{0:'L',1:'id',2:'cHash',3:'no_cache'}" additionalParams="{L: item.languageUid}">
                                            {languageTitle}
                                            <i class="fa fa-angle-down"></i>
                                        </f:link.page>
                                    </f:then>
                                </f:if>
                                <ul class="dsg-MainNav-submenu">
                                    <f:for each="{languagenavigation}" as="subitem">
                                        <!--submenu (unactive)-->
                                        <f:if condition="{subitem.active}">
                                            <f:else>
                                                <li class="dsg-MainNav-item {f:if(condition: item.available, else: 'text-muted')}">
                                                    <f:switch expression="{subitem.languageUid}">
                                                        <f:case value="1">
                                                            <dsg:var name="languageTitle" value="English" />
                                                            <dsg:var name="hreflang" value="en-US" />
                                                        </f:case>
                                                        <f:case default="TRUE">
                                                            <dsg:var name="languageTitle" value="Deutsch" />
                                                            <dsg:var name="hreflang" value="de-DE" />
                                                        </f:case>
                                                    </f:switch>
                                                    <f:if condition="{subitem.available}">
                                                        <f:then>
                                                            <f:link.page pageUid="{subitem.data.uid}" additionalAttributes="{hreflang: hreflang}" addQueryString="1" addQueryStringMethod="GET" argumentsToBeExcludedFromQueryString="{0:'L',1:'id',2:'cHash',3:'no_cache'}" additionalParams="{L: subitem.languageUid}">
                                                                {languageTitle}
                                                            </f:link.page>
                                                        </f:then>
                                                        <f:comment>
                                                            <f:else>
                                                                {languageTitle}
                                                            </f:else>
                                                        </f:comment>
                                                    </f:if>
                                                </li>
                                            </f:else>
                                        </f:if>

                                    </f:for>
                                </ul>





                            </li>
                        </f:if>
                    </f:for>
                </f:if>
            </ul>
        </nav>




</f:spaceless>











