{namespace dsg = FalkRoeder\Dsgsitepackage\ViewHelpers}
<f:spaceless>
   <!-- Start Navigation Bar -->
   <div class="dsg-NavButton">
      <i class="fa fa-bars fa-3x dsg-NavButton-icon"></i>
   </div>
<f:comment>
    <nav class="dsg-MainNav">
        <ul class="dsg-MainNav-menu">
            <li class="dsg-MainNav-item"><a href="#">Home</a></li>
            <li class="dsg-MainNav-item"><a href="#">About</a></li>
            <li class="dsg-MainNav-item dsg-MainNav-item--active dsg-MainNav-item--hasChildren"><a href="#">Services<i class="fa fa-angle-down"></i></a>
                <ul class="dsg-MainNav-submenu">
                    <li class="dsg-MainNav-item"><a href="#">Plumbing</a></li>
                    <li class="dsg-MainNav-item dsg-MainNav-item--hasChildren"><a href="#">Heating<i class="fa fa-angle-down"></i></a>
                        <ul class="sub-menu">
                            <li class="dsg-MainNav-item"><a href="#">Residential</a></li>
                            <li class="dsg-MainNav-item"><a href="#">Commercial</a></li>
                            <li class="dsg-MainNav-item dsg-MainNav-item--hasChildren dsg-MainNav-item--active"><a href="#">Heating<i class="fa fa-angle-down"></i></a>
                                <ul class="dsg-MainNav-submenu">
                                    <li class="dsg-MainNav-item"><a href="#">Residential</a></li>
                                    <li class="dsg-MainNav-item dsg-MainNav-item--active"><a href="#">Commercial</a></li>
                                    <li class="dsg-MainNav-item"><a href="#">Industrial</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li><a href="#">Electrical</a></li>
                </ul>
            </li>
            <li class="dsg-MainNav-item"><a href="#">Pricing</a></li>
            <li class="dsg-MainNav-item"><a href="#">Contact Us</a></li>
        </ul>
    </nav>
    <!-- End Navigation Bar -->

</f:comment>


        <nav class="dsg-MainNav">
            <ul class="dsg-MainNav-menu">
                <f:for each="{mainnavigation}" as="mainnavigationItem">
                    <li class="dsg-MainNav-item{f:if(condition: mainnavigationItem.active, then:' dsg-MainNav-item--active')}{f:if(condition: mainnavigationItem.children, then:' dsg-MainNav-item--hasChildren')}">
                        <f:link.page pageUid="{mainnavigationItem.data.uid}" title="{mainnavigationItem.title}">
                            {mainnavigationItem.title}
                            <f:if condition="{mainnavigationItem.children}">
                                <i class="fa fa-angle-down"></i>
                            </f:if>
                        </f:link.page>
                        <f:if condition="{mainnavigationItem.children}">
                            <ul class="dsg-MainNav-submenu">
                                <f:for each="{mainnavigationItem.children}" as="child">
                                    <li class="dsg-MainNav-item{f:if(condition: child.active, then:' dsg-MainNav-item--active')}{f:if(condition: child.children, then:' dsg-MainNav-item--hasChildren')}">
                                        <f:link.page pageUid="{child.data.uid}" title="{child.title}">
                                            {child.title}
                                            <f:if condition="{child.children}">
                                                <i class="fa fa-angle-down"></i>
                                            </f:if>
                                        </f:link.page>
                                        <f:if condition="{child.children}">
                                            <ul class="dsg-MainNav-submenu">
                                                <f:for each="{child.children}" as="childchild">
                                                    <li class="dsg-MainNav-item{f:if(condition: childchild.active, then:' dsg-MainNav-item--active')}{f:if(condition: childchild.children, then:' dsg-MainNav-item--hasChildren')}">
                                                        <f:link.page pageUid="{childchild.data.uid}" title="{childchild.title}">
                                                            {childchild.title}
                                                        </f:link.page>
                                                    </li>
                                                </f:for>
                                            </ul>
                                        </f:if>
                                    </li>






                                </f:for>
                            </ul>
                        </f:if>
                    </li>


                </f:for>
                <f:if condition="{languagenavigation}">
                    <f:for each="{languagenavigation}" as="item">
                        <f:if condition="{item.active}">
                            <li class="dsg-MainNav-item dsg-MainNav-item--hasChildren {f:if(condition: item.active, then: 'dsg-MainNav-item--active')} {f:if(condition: item.available, else: 'text-muted')}">
                                <f:switch expression="{item.languageUid}">
                                    <f:case value="1">
                                        <dsg:var name="languageTitle" value="English" />
                                        <dsg:var name="hreflang" value="en-US" />
                                    </f:case>
                                    <f:case default="TRUE">
                                        <dsg:var name="languageTitle" value="Deutsch" />
                                        <dsg:var name="hreflang" value="de-DE" />
                                    </f:case>
                                </f:switch>
                                <f:if condition="{item.available}">
                                    <f:then>
                                        <f:link.page pageUid="{item.data.uid}" additionalAttributes="{hreflang: hreflang}" addQueryString="1" addQueryStringMethod="GET" argumentsToBeExcludedFromQueryString="{0:'L',1:'id',2:'cHash',3:'no_cache'}" additionalParams="{L: item.languageUid}">
                                            {languageTitle}
                                            <i class="fa fa-angle-down"></i>
                                        </f:link.page>
                                    </f:then>
                                </f:if>
                                <ul class="dsg-MainNav-submenu">
                                    <f:for each="{languagenavigation}" as="subitem">
                                        <!--submenu (unactive)-->
                                        <f:if condition="{subitem.active}">
                                            <f:else>
                                                <li class="dsg-MainNav-item {f:if(condition: item.available, else: 'text-muted')}">
                                                    <f:switch expression="{subitem.languageUid}">
                                                        <f:case value="1">
                                                            <dsg:var name="languageTitle" value="English" />
                                                            <dsg:var name="hreflang" value="en-US" />
                                                        </f:case>
                                                        <f:case default="TRUE">
                                                            <dsg:var name="languageTitle" value="Deutsch" />
                                                            <dsg:var name="hreflang" value="de-DE" />
                                                        </f:case>
                                                    </f:switch>
                                                    <f:if condition="{subitem.available}">
                                                        <f:then>
                                                            <f:link.page pageUid="{subitem.data.uid}" additionalAttributes="{hreflang: hreflang}" addQueryString="1" addQueryStringMethod="GET" argumentsToBeExcludedFromQueryString="{0:'L',1:'id',2:'cHash',3:'no_cache'}" additionalParams="{L: subitem.languageUid}">
                                                                {languageTitle}
                                                            </f:link.page>
                                                        </f:then>
                                                        <f:comment>
                                                            <f:else>
                                                                {languageTitle}
                                                            </f:else>
                                                        </f:comment>
                                                    </f:if>
                                                </li>
                                            </f:else>
                                        </f:if>

                                    </f:for>
                                </ul>





                            </li>
                        </f:if>
                    </f:for>
                </f:if>
            </ul>
        </nav>
   <div class="row pos-rel">
      <div class="col">
         <f:if condition="{settings.logo.file}">
            <f:then>
               <f:link.page pageUid="{rootPage}" title="{settings.logo.linktitle}">
                  <img src="{f:uri.image(src: settings.logo.file)}" alt="{logoAlt}" height="{settings.logo.height}" width="{settings.logo.width}">
               </f:link.page>
            </f:then>
            <f:else>
               <f:link.page pageUid="{rootPage}">{siteTitle}</f:link.page>
            </f:else>
         </f:if>
         <div class="slogan">
            <h1>{siteTitle}</h1>
            <p><strong><f:cObject typoscriptObjectPath="lib.slogan"/></strong></p>
         </div>
      </div>
   </div>

<f:comment>
    <header
            class="navbar navbar-{settings.navigation.style}{f:if(condition:settings.logo.file,then:' navbar-has-image')}{f:if(condition:settings.navigation.type, else:' navbar-top', then:' navbar-{settings.navigation.type} navbar-fixed-{settings.navigation.type}')}">
        <div class="container">
            <div class="navbar-header navbar-header-main">

                <f:if condition="{mainnavigation}">
                    <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".main-navigation">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </f:if>
                <span class="navbar-header-border-bottom"></span>
            </div>
            <f:if condition="{mainnavigation}">
                <nav class="main-navigation drilldown col-md-8 navbar-collapse collapse" role="navigation">
                    <div class="drilldown-container">
                        <ul id="menu-top-level" class="nav navbar-nav menu nav-menu drilldown-root">
                            <f:for each="{mainnavigation}" as="mainnavigationItem">
                                <li class="{f:if(condition: mainnavigationItem.active, then:'active')} {f:if(condition: mainnavigationItem.children, then:'')}">
                                    <f:link.page pageUid="{mainnavigationItem.data.uid}" title="{mainnavigationItem.title}">
                                        {mainnavigationItem.title}
                                        <span class="bar"></span>
                                    </f:link.page>
                                    <f:if condition="{mainnavigationItem.children}">
                                        <a href="#" class="dropdown-button drilldown-button">
                                            <i class="fa fa-2x fa-arrow-circle-right" aria-hidden="true"></i>
                                        </a>
                                        <div class="sub-menu-wrap drilldown-sub">
                                            <ul class="sub-menu">
                                                <li class="drilldown-back">
                                                    <a class="drilldown-button" href="#"><i class="fa fa-2x fa-arrow-circle-left" aria-hidden="true"></i>{f:cObject(typoscriptObjectPath: 'lib.mobileMenuBack')}</a>
                                                </li>
                                                <f:for each="{mainnavigationItem.children}" as="child">
                                                    <li class="{f:if(condition: child.active, then:'active')} {f:if(condition: '{child.children}', then: 'sub-menu-title')}">
                                                        <f:link.page pageUid="{child.data.uid}" title="{child.title}">
                                                            {child.title}
                                                        </f:link.page>

                                                        <f:if condition="{child.children}">
                                                            <a href="#" class="dropdown-button drilldown-button">
                                                                <i class="fa fa-2x fa-arrow-circle-right" aria-hidden="true"></i>
                                                            </a>
                                                            <ul class="sub-menu drilldown-sub">
                                                                <li class="drilldown-back">
                                                                    <a class="drilldown-button" href="#"><i class="fa fa-2x fa-arrow-circle-left" aria-hidden="true"></i>{f:cObject(typoscriptObjectPath: 'lib.mobileMenuBack')}</a>
                                                                </li>
                                                                <f:for each="{child.children}" as="childchild">
                                                                    <li class="{f:if(condition: childchild.active, then:'active')} {f:if(condition: '{childchild.children}', then: 'sub-menu-title')}">
                                                                        <f:link.page pageUid="{childchild.data.uid}" title="{childchild.title}">
                                                                            {childchild.title}
                                                                        </f:link.page>


                                                                        <f:if condition="{childchild.children}">
                                                                            <a href="#" class="dropdown-button drilldown-button">
                                                                                <i class="fa fa-2x fa-arrow-circle-right" aria-hidden="true"></i>
                                                                            </a>
                                                                            <ul class="sub-menu sec-sub-menu drilldown-sub">
                                                                                <li class="drilldown-back">
                                                                                    <a class="drilldown-button" href="#"><i class="fa fa-2x fa-arrow-circle-left" aria-hidden="true"></i>{f:cObject(typoscriptObjectPath: 'lib.mobileMenuBack')}</a>
                                                                                </li>
                                                                                <f:for each="{childchild.children}" as="childchildchild">
                                                                                    <li class="{f:if(condition: childchildchild.active, then:'active')}">
                                                                                        <f:link.page pageUid="{childchildchild.data.uid}" title="{childchildchild.title}">
                                                                                            {childchildchild.title}
                                                                                        </f:link.page>
                                                                                    </li>
                                                                                </f:for>
                                                                                <li class="dummy-sec-menu">
                                                                                    <a href="#"></a>
                                                                                </li>
                                                                            </ul>
                                                                        </f:if>





                                                                    </li>
                                                                </f:for>
                                                            </ul>
                                                        </f:if>
                                                    </li>
                                                </f:for>
                                            </ul>
                                        </div>

                                    </f:if>
                                </li>
                            </f:for>
                            <f:if condition="{languagenavigation}">
                                <f:for each="{languagenavigation}" as="item">
                                    <!--active-->
                                    <f:if condition="{item.active}">
                                        <li class="menu-item-language {f:if(condition: item.active, then: 'active')} {f:if(condition: item.available, else: 'text-muted')}">
                                            <f:switch expression="{item.languageUid}">
                                                <f:case value="10">
                                                    <dsg:var name="languageTitle" value="中文" />
                                                    <dsg:var name="hreflang" value="cn-CN" />
                                                </f:case>
                                                <f:case value="6">
                                                    <dsg:var name="languageTitle" value="русский" />
                                                    <dsg:var name="hreflang" value="ru-RU" />
                                                </f:case>
                                                <f:case value="2">
                                                    <dsg:var name="languageTitle" value="Français" />
                                                    <dsg:var name="hreflang" value="fr-FR" />
                                                </f:case>
                                                <f:case value="1">
                                                    <dsg:var name="languageTitle" value="English" />
                                                    <dsg:var name="hreflang" value="en-US" />
                                                </f:case>
                                                <f:case default="TRUE">
                                                    <dsg:var name="languageTitle" value="Deutsch" />
                                                    <dsg:var name="hreflang" value="de-DE" />
                                                </f:case>
                                            </f:switch>
                                            <f:if condition="{item.available}">
                                                <f:then>
                                                    <f:link.page pageUid="{item.data.uid}" additionalAttributes="{hreflang: hreflang}" addQueryString="1" addQueryStringMethod="GET" argumentsToBeExcludedFromQueryString="{0:'L',1:'id',2:'cHash',3:'no_cache'}" additionalParams="{L: item.languageUid}">
                                                        {languageTitle}
                                                    </f:link.page>
                                                    <a href="#" class="dropdown-button drilldown-button">
                                                        <i class="fa fa-2x fa-arrow-circle-right" aria-hidden="true"></i>
                                                    </a>
                                                </f:then>

                                            </f:if>
                                            <div class="sub-menu-wrap drilldown-sub">
                                                <ul class="sub-menu">
                                                    <li class="drilldown-back">
                                                        <a class="drilldown-button" href="#"><i class="fa fa-2x fa-arrow-circle-left" aria-hidden="true"></i>{f:cObject(typoscriptObjectPath: 'lib.mobileMenuBack')}</a>
                                                    </li>
                                                    <f:for each="{languagenavigation}" as="subitem">
                                                        <!--submenu (unactive)-->
                                                        <f:if condition="{subitem.active}">
                                                            <f:else>
                                                                <li class="{f:if(condition: item.available, else: 'text-muted')}">
                                                                    <f:switch expression="{subitem.languageUid}">
                                                                        <f:case value="10">
                                                                            <dsg:var name="languageTitle" value="中文" />
                                                                            <dsg:var name="hreflang" value="cn-CN" />
                                                                        </f:case>
                                                                        <f:case value="6">
                                                                            <dsg:var name="languageTitle" value="русский" />
                                                                            <dsg:var name="hreflang" value="ru-RU" />
                                                                        </f:case>
                                                                        <f:case value="2">
                                                                            <dsg:var name="languageTitle" value="Français" />
                                                                            <dsg:var name="hreflang" value="fr-FR" />
                                                                        </f:case>
                                                                        <f:case value="1">
                                                                            <dsg:var name="languageTitle" value="English" />
                                                                            <dsg:var name="hreflang" value="en-US" />
                                                                        </f:case>
                                                                        <f:case default="TRUE">
                                                                            <dsg:var name="languageTitle" value="Deutsch" />
                                                                            <dsg:var name="hreflang" value="de-DE" />
                                                                        </f:case>
                                                                    </f:switch>
                                                                    <f:if condition="{subitem.available}">
                                                                        <f:then>

                                                                            <f:if condition="{subitem.languageUid} == 8">
                                                                                <f:else>
                                                                                    <f:link.page pageUid="{subitem.data.uid}" additionalAttributes="{hreflang: hreflang}" addQueryString="1" addQueryStringMethod="GET" argumentsToBeExcludedFromQueryString="{0:'L',1:'id',2:'cHash',3:'no_cache'}" additionalParams="{L: subitem.languageUid}">
                                                                                        {languageTitle}
                                                                                    </f:link.page>
                                                                                </f:else>

                                                                            </f:if>

                                                                        </f:then>
                                                                        <f:comment>
                                                                            <f:else>
                                                                                {languageTitle}
                                                                            </f:else>
                                                                        </f:comment>
                                                                    </f:if>
                                                                </li>
                                                            </f:else>
                                                        </f:if>

                                                    </f:for>
                                                </ul>
                                            </div>



                                        </li>
                                    </f:if>

                                </f:for>
                            </f:if>

                        </ul>
                    </div>

                </nav>

            </f:if>
        </div>

        </div>
    </header>
</f:comment>


</f:spaceless>











